<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='Styles/culture.css'>
    <script src=Scripts/culture.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title></title>
  </head>
  <header>
    <h1>Guide to Germany</h1>
    <nav>
      <ul class='nav'>
        <li class='home'><a href="/">Home</a></li>
      </ul>
   </nav>
 </header>
  <body>
    <div class='flex-container'>
      <div class='flex-item2'>
        <div class='type2'>Food to Try</div>
        <ul class='list2'>
          <li class='food'>Black Forest Cake</li>
            <p class='description'>chocolate sponge cake sandwiched with whipped cream and cherries</p>

          <li class='food'>Bratwurst</li>
            <p class='description'>a sausage usually made of beef, pork, or veal</p>

          <li class='food'>Breaded Pork Schnitzel</li>
            <p class='description'>meat, usually thinned by pounding with a meat tenderizer, that is fried</p>

          <li class='food'>Königsberger Klopse</li>
            <p class='description'>this dish consists of veal meatballs in a creamy white sauce made with capers and lemon juice; traditionally served with boiled potatoes</p>

          <li class='food'>Sauerbraten</li>
            <p class='description'>pot roast that can be prepared with a variety of meats</p>

          <li class='food'>Spätzle Noodles</li>
            <p class='description'>Traditional Swabian Egg Noodles</p>

          <li class='food'>Stollen</li>
            <p class='description'>a bread made of dried or candied fruit, marzipan, nuts like almonds, and spices like cinnamon and cardamom</p>

          <li class='food'>Strudel</li>
            <p class='description'>layered pastry with a filling that is usually sweet</p>
          <br>
        </ul>
      </div>
      <div class='flex-item1'>
        <div class='type1'>Common German Phrases</div>
          <ul class='list'>
              <li class='word'>Guten Tag / Auf Wiedersehen</li>
              <li class='pronounce'>goot-en tahk / owf VEE-dur-zan</li>
              <li class='english'>Hello / Good Bye</li>
              <br>
              <li class='word'>Bitte / Danke Sch&#246;n</li>
              <li class='pronounce'>bih-tuh / DAN-kuh shurn</li>
              <li class='english'>Please / Thank You</li>
              <br>
              <li class='word'>Wo sind die Toiletten?</li>
              <li class='pronounce'>voh zint dee toy-l&#234;t-en?</li>
              <li class='english'>Where are the bathrooms?</li>
              <br>
              <li class='word'>Entschuldigen Sie</li>
              <li class='pronounce'>ent-SHOOL-dee-gun zee</li>
              <li class='english'>Pardon Me</li>
              <br>
              <li class='word'>Ja, bitte/Nein, danke.</li>
              <li class='pronounce'>yar bitt-er/niyn dang-ker</li>
              <li class='english'>Yes, please/No, thank you.</li>
              <br>
              <li class='word'>Würden Sie mir bitte helfen?</li>
              <li class='pronounce'>vuer-den zee meer bi-te hêl-fen?</li>
              <li class='english'>Would you help me please?</li>
              <br>
          </ul>
          <h4>For more phrases, <a href='http://www.dummies.com/languages/german/german-for-dummies-cheat-sheet/'>CLICK HERE.</a></h4>
      </div>
      <div class='flex-item3'>
        <div class='type3'>Travel Essentials</div>
          <h3>Safety</h3>
            <p class='manners'><a href="https://de.usembassy.gov/">Embassy Information</a></p>
            <p class='manners'>Emergency Numbers:</p>
            <ul>
              <li class='help'>Police (Polizei): 110</li>
              <li class='help'>Fire Brigade / Ambulance (Krankenwagen): 112</li>

              <li class='protip'>**You can dial free of charge from any public call box</li>
              <li class='protip'>**you can’t call 112 with a phone without SIM card </li>
            </ul>
          <h3>Packing List</h3>
            <p class='pack'>Airline Tickets </p>
            <p class='pack'><a href="https://travel.state.gov/content/passports/en/passports/applyinperson.html">Passport</a></p>
            <p class='pack'>Wallet</p>
            <p class='pack'>Cash</p>
            <p class='pack'>Drivers License</p>
            <p class='pack'>Contact Numbers</p>
            <p class='pack'>Copy of medical history</p>
            <p class='pack'>Medicine / Medicine Prescription</p>
            <p class='pack'>Toiletries</p>
            <p class='pack'>Adapters</p>
          <br>

      </div>
    </div>
<br>
    <h3 class='etiquette'>Cultural Etiquette</h3>
    <div class='flex-container'>

      <div class='flex-item4'>
        <div class='type4'>Table Manners</div>
          <p class='manners'>Keep your knife in your left hand and your fork in your right hand. Don't switch. </p>
          <p class='manners'>Hands should stay visible above the table.</p>
          <p class='manners'>Keep elbows off of the table.</p>
          <p class='manners'>When finished, lay fork and knife across the right side of the plate</p>
      </div>
      <div class='flex-item5'>
        <div class='type5'>Tipping</div>
          <p class='manners'>Guide: 5-10% per day </p>
          <p class='manners'>Waitstaff: 10-15% </p>
          <p class='manners'>**Hand your tip directly to your server.</p>
          <p class='manners'>Bartender: 10% </p>
          <p class='manners'>Taxi Drivers: round up to the nearest &euro;</p>
          <iframe id="tmcmini" src="https://themoneyconverter.com/MoneyConverter.aspx?from=USD&amp;to=EUR" scrolling="no"></iframe>

      </div>
      <div class='flex-item6'>
        <div class='type6'>Miscellaneous</div>
        <p class='manners'>Be on time. Punctuality is highly valued in Germany.</p>
        <p class='manners'>Keep your hands out of your pockets when you talk to someone.</p>
        <p class='manners'>Avoid shouting or chewing gum in public.</p>
      </div>
    </div>
  </body>
</html>
