<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='Styles/homepage.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/Scripts/homepage.js"> </script>
    <meta charset="utf-8">
    <title>Home Page</title>

  </head>
  <body>
  
      <svg id="svg">
    <header>
      <h1>Root by Rhu</h1>
<div class="container">
<a  id="logout" href="{{logout_url}}"> LOG OUT </a>
</div>
      <nav>
        <ul class='nav'>
          <li><a href="/adventure">Adventure</a></li>
          <li><a href="/culture">Guide to Germany</a></li>
          <li><a href="/transportation">Transportation</a></li>
          <li><a href="/studentforum">Student Forum</a></li>
          <li><a href="/preferences">User Preferences</a></li>
        </ul>

     </nav>
   </header>
 </svg>
  </body>
</html>
