<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link href="Styles/newuserpage.css" rel="stylesheet"
    <title></title>
  </head>
  <body>
    <h1> Study Abroad App </h1>

<div id="register" class="newuserform">
  <form  action="mysuperscript.php" autocomplete="on">
    <h2> Sign Up </h2>

    <p>
      <label for="emailsignup" class="youmail" data-icon="e" > Your School Email</label>
      <input id="emailsignup" name="emailsignup" required="required" type="email">
    </p>
    <p>
      <label for="passwordsignup" class="youpasswd" data-icon="p">Your Password </label>
      <input id="passwordsignup" name="passwordsignup" required="required" type="password">
    </p>
    <p>
      <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please Confirm Your Password </label>
      <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" >
    </p>

    <p>
      <label for="destination" class="yourdestination" data-icon="p"> Where Are You Studying Abroad? </label>
      <input id="destination" name="destination" required="required" type="text" >
    </p>


    <p class="signin button">
      <input type="submit" value="Sign up"/>
    </p>
  </form>
</div>

</div>

</body>
</html>
