<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link href="Styles/newuserpage.css" rel="stylesheet">
    <title></title>

  </head>
  <body>
    <h1> User Preferences </h1>
    <nav>
      <ul class='nav'>
        <li><a href="/">Home</a></li>
      </ul>
   </nav>
<div id="register" class="newuserform">
  <form  action="/" autocomplete="on">
    <h2> Adjust Your Preferences </h2>

    <p>
      <label for="destination" class="yourdestination" data-icon="p"> Where Are You Studying Abroad? </label>
      <input id="destination" name="destination" required="required" type="text" >
    </p>

    <p> What is your budget?
       <select name="budget">
            <option></option>
             <option value="$">$1000</option>
             <option value="$$">$2000</option>
             <option value="$$$">$3000</option>
              <option value="$$$$">$4000</option>
       </select>
      <!-- <label for="budget" class="budget" data-icon="p"> What Is Your Spending Budget? </label>
      <input id="budget" name="budget" required="required" type="number" > -->
   </p>

    <p class="signin button">
      <input type="submit" value="Update"/>
    </p>

  </form>
</div>

</div>
</body>
</html>
