<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet">
    </head>
    <link rel='stylesheet' href='Styles/studentforum.css'>
    <title></title>
  </head>
  <header>
    <h1>Student Forum</h1>
    <nav>
      <ul class='nav'>
        <li><a href="/">Home</a></li>
      </ul>
   </nav>
 </header>

  <body>
    <form action='/studentforum' method='post'>
      <textarea rows='6' cols="80" name="comment" maxlength="140" placeholder="Leave a traveling tip">
      </textarea>
      <br>
      <input type="submit" value="Comment"></input>
      <p> What Type of Tip is this?
         <select name="type">
              <option></option>
               <option value="Packing">Packing</option>
               <option value="Safety">Safety</option>
               <option value="Studying">Studying</option>
                <option value="Recommendations">Recommendations</option>
         </select>
    </form>
    {% for c in comments%}
      <div>
      <h3>  {{c.email}} </h3>
      <p class="time"> {{c.time.strftime('%b %d, %Y (%H:%m:%S)')}} </p>
<p class='content'>  {{c.type}}:   {{c.content}} </p>

      </div>
    {% endfor %}
  </body>
</html>
