<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RHU</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade|Faster+One|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='Styles/transportation.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  </head>
  <header>
    <h1>Transportation</h1>
    <nav>
      <ul class='nav'>
        <li><a href="/">Home</a></li>
      </ul>
   </nav>
 </header>
  <body>

<div class='flex-container'>
    <div class='type1'>
      <p> Traveling between destinations in Bonn is not only easy, but convenient, as their public transportation
      network is well-developed with city sites and residential neighborhoods within close proximity. For those
      without their own cars, Bonn has excellent public transportations including, but not limited to buses, trams, subways,
      city trains, and several Rhine Ferries.</p>
    </div>
</div>

<div class='flex-container2'>
  <div class='flex-item1'>
    <div class='type1'>
      <h3> Bus and Tram Information</h3>
        <p> Bus and tram stops are marked by a sign with a green H in a green circle against a yellow background.
        The number of buses/trams that stop there are usually listen there together with their the frequency of
        their arrival/departure.</p>
      <img src="">
    </div>
  </div>
  <div class='flex-item2'>
    <div class='type2'>
      <h3>Bus and Tram Ticket Information</h3>
        <p> Tickets may be purchased from vending machines on trams, underground trains, and various ticket offices in
        Bonn. On buses, tickets may also be purchased from the driver. For more information regarding single
        tickets, multiple tickets, weekly tickets, monthly tickets, and special offer tickets, please visit:
        <br>
        <a href="http://www.bonn-international.org/living-in-bonn/transport-and-travel/public-transport-oepnv.html">More Bus Ticket Information</a></p>
    </div>
  </div>
</div>

<br>

<div class='flex-container2'>
  <div class='flex-item1'>
    <div class='type1'>
      <h3>Train Information</h3>
        <p> Many European capitals and major cities are connected via train. Brussels is three hours away,
        Paris four hours, and Berlin four and a half hours from Bonn's main railway station. Bonn's main
        railroad station and the Siegburg are connected via public transportation. For information regarding ticketing, please visit:
        <br>
        <a href="https://www.bahn.de/p/view/index.shtml.">Ticket Information</a></p>
    </div>
  </div>
  <div class='flex-item2'>
    <div class='type2'>
      <h3> Underground Information</h3>
        <p> Underground (U-Bahn) stops are marked with a blue U.
          <br>
        <a href="https://www.berlin.de/en/public-transportation/1742343-2913840-underground-subway.en.html">More Information</a></p>
    </div>
  </div>
</div>
<br>
<div class='flex-container2'>
  <div class='flex-item1'>
    <div class='type1'>
      <h3> Car Rental</h3>
      <p>You can find car rental companies through the online business directory <a href="http://www.bonnbranchen.de">Bonner Branchenor</a> in the <a href="www.gelbeseiten.de">Yellow Pages</a>.
      Here, please find an English portal for worldwide car rentals: <a href="http://www.rentalcars.com/">Car Rental</a></p>
    </div>
  </div>
  <div class='flex-item2'>
    <div class='type2'>
      <h3>Car Sharing</h3>
        <p> Need a city car or van every now and again? For a car pooling arrangement, you can register with several companies and book your car by phone. There is a basic fee
        for your registration and the administration of clients, as well as a travel fee for the car you are planning to use.  For more information, visit:
        <a href="http://www.cambio-carsharing.de.">Car Sharing</a></p>
    </div>
  </div>
</div>
<br>
  </body>
</html>
